<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="TB_AW_1PU" transaction-type="JTA">
    <jta-data-source>java:app/kompdb</jta-data-source>
    <class>com.tb.entity.Barang</class>
    <class>com.tb.entity.BarangCacat</class>
    <class>com.tb.entity.DetailPenjualan</class>
    <class>com.tb.entity.Jabatan</class>
    <class>com.tb.entity.Kategori</class>
    <class>com.tb.entity.Merk</class>
    <class>com.tb.entity.Pegawai</class>
    <class>com.tb.entity.Penjualan</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties/>
  </persistence-unit>
</persistence>
